.App {
	text-align: center;
	z-index: 1;
}

.UpperBar {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.thytodo {
	color: black;
}

.TodoList {
	display: grid;
	border: solid black 2px;
	border-radius: 7px;
	border-color: #c70a0c;
	grid-template-columns: 100%;
	align-items: center;
	justify-content:center;
}


.PageSelect {
	display:flex;
	justify-content:right;
	padding: 10px 0px;
}


.PageButton {
	padding: 0px 5px;
	background-color:transparent;
	color: #c70a0c;
	font-size: 16;
	border:none;
	margin: 0px 5px;
	font-weight: bold;
	font-size: calc(5px + 2vmin);
}

.Todo {
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	text-align:left;
	color:white;
	background-color:#c70a0c;
	padding: 1px 25px;
	margin: 10px;
	border-radius:7px;
	font-size: calc(3px + 2vmin);
}

.TodoText {
	padding: 0px 10px 0px 0px;
}

.TodoButtons {
	display:flex;
	flex-direction:column;
	justify-content:center;
}


.Button {
	height: 25px;
	justify-content: center;
	padding: 5px;
	margin: 5px;
}



.TodoText {

}


.UpperBar {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 12px 0px;
}

.Hero {
	height: 500px;
	width: 500px;
}

.SearchBarDiv {
	display:flex;
	padding:5px;
	border: solid 1px;
	border-color: #c70a0c;
	background-color: #fffff2;
	border-radius:7px;
	border-width: 3px;
}

.SearchBar {
	height: 50px;
	width: 350px;
	padding: 0px 0px 0px 10px;
	outline:none;
	border:none;
	color:black;
	background-color: #fffff2;
	font-size:calc(7px + 2vmin);
}


.App-header {
	background-color: #fffff2;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.addButton {
	border: none;
	outline: none;
	background-color:transparent;

}


.CreateForm {
	borderRadius: 10px;
	background-color: #fffff2;
	position:absolute;
	color:black;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	border-radius:7px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	gap: 20px;
	z-index:5;
}

.newTodoInput {
	height: 50px;
	width: 350px;
	padding: 0px 0px 0px 10px;
	outline:none;
	border-color:#c70a0c;
	border-radius: 7px;
	color:black;
	background-color: #fffff2;
	font-size:calc(7px + 2vmin);
}

.plus {
	color: #c70a0c;
}


@keyframes App-logo-spin {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}
}
